/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
  }
  
  header {
    background-color: #007bff;
    padding: 15px 0;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    margin: 0 15px;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 40px 20px;
    background: #1a1818;
    color: white;
  }
  
  .profile img {
    width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #007bff;
  }
  
  .info {
    text-align: left;
    margin: 20px;
  }
  
  .contact-form {
    margin-top: 100px;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
  }
  .contact-form h2{
    color: black;
    font-weight: bold;
  }
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form input,
  .contact-form button {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
  }
  
  #about p{
    text-align: justify;
  }
  .contact-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  #skills ul{
    text-align: left;
  }
  section {
    padding: 40px 20px;
    text-align: center;
  }
  
  .carousel img {
    width: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  footer {
    background-color: #222;
    color: #fff;
    padding: 15px 0;
    text-align: center;
  }
  